@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&family=Unbounded&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.gg-cloud {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 2px;
    background: currentColor;
    margin-bottom: -20px;
   }
   
   .gg-cloud::after,
   .gg-cloud::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid;
    box-sizing: border-box;
    bottom: 0
   }
   
   .gg-cloud::before {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    left: -6px;
    width: 7px;
    height: 12px
   }
   
   .gg-cloud::after {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border-left-color: transparent;
    right: -8px;
    transform: rotate(-45deg)
   } 


nav {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    height: 7%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    align-items: center;
    position: fixed;
}

nav > p {
    cursor: pointer;
}

nav > p:hover {
    text-decoration: underline;
}

nav > button {
    font-size: 15px;
    background-color: inherit;
    border-radius: 5px;
    transition: 0.3s ease;
}

nav > button:hover {
color: white; 
background-color: black;
}

header {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 30px;
}

h1 {
    font-family: 'Poppins';
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: 'Poppins';
}

.showcase-section {
    width: 80%;
}

.showcase-section > button {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 40px;
    margin-left: 10px;
    font-family: 'Poppins';
    cursor: pointer;
}

span {
    color: transparent; 
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #ed8936, #ed64a6);
}

header > img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px #e3ff74;
}

section {
    background-color: #F2E9E4;
    color: black;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h1 {
    width: 100%;
    text-align: left;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 10%;
    width: 30rem;
}

.item {
    border: solid 2px black;
    border-radius: 5px;
    height: 10rem;
    width: 16rem;
    display: flex;
    gap: 10px;
    box-shadow: 12px 11px #22223B;
    transition: 0.3s;
}

.item:hover {
    box-shadow: 12px 11px #e3ff74;
}

.item > span {
    color: black;
}